<!-- Modal -->
<div class="modal fade" id="problemHistoryModal" tabindex="-1" aria-labelledby="problemHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="problemHistoryModalLabel">Historia zmian</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="placeholder-glow"> <span class="placeholder col-3"></span> </p>
                <p class="placeholder-glow">
                    <span class="placeholder col-5"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-5"></span>
                    <span class="placeholder col-2"></span>
                    <span class="placeholder col-3"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-2"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-5"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-2"></span>
                </p>
                <p class="placeholder-glow"> <span class="placeholder col-3"></span> </p>
                <p class="placeholder-glow"> <span class="placeholder col-4"></span> </p>
                <div class="history"> </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">zamknij</button>
            </div>
        </div>
    </div>
</div>
