<p>Aby zaliczyć zadanie wyślij swoje rozwiązanie.
    <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#solutionInfoModal">więcej informacji</a></p>

<!-- Modal -->
<div class="modal fade" id="solutionInfoModal" tabindex="-1" aria-labelledby="solutionInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="solutionInfoModalLabel">Wysyłanie rozwiązań</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Pisanie rozwiązań to fundamentalna umiejętność, której nie należy zaniedbywać.
          Szlifowanie redagowania rozwiązań pomoże Ci poprawić wyniki na egzaminach i kolokwiach
              (czy jest coś gorszego niż stracić 6 punktów na 20 za dobrze rozwiązane zadanie,
              jedynie przez małe niedopatrzenia w tym co napisaliśmy?)</p>
          <p>Wysyłanie rozwiązań umożliwia dostanie informacji zwrotnej od innych ludzi, coś dzięki czemu najszybciej się rozwijamy ;)</p>
          <p>Aby jeszcze bardziej zmotywować cię do poświęcenia tych kilku minut na zapisanie swoich przemyśleń,
              gdy to zrobisz zadanie będzie 'zaliczone' - wliczy się do rankingu i będzie stosownie oznaczone w bazie zadań.</p>
          <p>Nie musisz pisać w latexu, zrób to tak, jak Ci wygodnie np. czytelne zdjęcie kartki będzie ok.</p>
          <p>Proszę nie wysyłaj rozwiązań w stylu "sdlkjglhjbf". Jeżeli nie rozwiązałeś zadania po prostu użyj funkcji "poddaje się" w zakładce "Rozwiązania".</p>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>