{% extends "base/base.html" %}
{% block title %} {{ name }} {% endblock %}

{% block content %}
    <div class="container center-block flex-column mt-4" style="width: 60%;">
    <nav class="px-4 align-items-center navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="navbar-nav">
            <h1 class="m-auto navbar-brand ">Zadanie</h1>
            <div style="width: 15px;"></div>
            <a class="ml-4 nav-item nav-link {% if request.resolver_match.view_name == 'problems:statement' %}active{% endif %}" href="{% url 'problems:statement' pk=pk %}">Treść</a>
            <a class="ml-4 nav-item nav-link {% if request.resolver_match.view_name == 'solutions:solutions' %}active{% endif %}" href="{% url 'solutions:solutions' pk=pk %}">Rozwiązania</a>
            <a class="ml-4 nav-item nav-link {% if request.resolver_match.view_name == 'problems:info' %}active{% endif %}" href="{% url 'problems:info' pk=pk %}">Info</a>
        </div>
    </nav>
    <div class="flex-column justify-content-center mx-4 py-2">
        {% block innerContent %}
        {% endblock %}
    </div>
    </div>
{% endblock %}