{% extends "problemBase/problem.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% static 'static_jquery/js/jquery.js' %}

{% block innerContent %}
    <div class="justify-content-center d-flex flex-column" style="padding-bottom: 200px;">
        <div class="d-flex">
            <h1>{{ name }}</h1>
        </div>

        {% if not display_solutions %}
            {% include 'problemBase/problemSurrender.html' %}
        {% else %}

        <div>
            {% for solution in solutions %}

                <hr>
                <div class="home-container d-flex flex-row w-100">
                    <div class="d-flex flex-column">
                        <div class="d-flex mt-1">
                            <a href="{% url 'account:profile_page' solution.user.id %}">@{{ solution.user.username }}</a>
                        </div>

                        <div class="d-flex text-secondary">
                            {{ solution.creation_date }}
                        </div>
                        {% if solution.user == user %}
                            <div class="d-flex">
                                <a class="link-secondary"
                                   href="{% url 'problems:edit_solution'  pk=solution %}">Edit</a>
                            </div>
                        {% endif %}

                    </div>
                    <div class="px-4 d-flex"><!-- spacing between solution info and solution content --></div>
                    <div class="d-flex flex-column mt-0 w-100" style="word-wrap: break-word; min-width: 0;">
                        <p class="mb-4">{{ solution.content|safe }}</p>
                        <div class="d-flex flex-row mb-3 justify-content-end">
                            <div class="mt-4 d-flex flex-column justify-content-center text-center align-items-center align-self-end">

                                <div class="d-flex">
                                    <h3>{{ solution.upvote_counter }}</h3>
                                </div>
                                <div class="d-flex flex-row justify-content-center" style="min-width: 160px;">
                                    <div class="d-flex flex-row px-1">
                                        <a class="btn align-self-end {% if solution.upvoted %} btn-success {% else %} btn-outline-success {% endif %}"
                                           href="{% url 'problems:vote_solution' pk=solution vote='upvote' %}">Fajne</a>
                                    </div>
                                    <div class="d-flex flex-row px-1">
                                        <a class="btn align-self-start {% if solution.downvoted %} btn-danger {% else %} btn-outline-danger {% endif %}"
                                           href="{% url 'problems:vote_solution' pk=solution vote='downvote' %}">Blef</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% include 'problemBase/commentSection.html' with comments=solution.comments solution_id=solution.id %}

                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <form id="commentForm" autocomplete="off" class="border-top border-2 pt-3" style="display:none;">
        {% crispy comment_form %}
    </form>

{% endblock %}


{% block scripts %}
    <script>
        var url = "{% url 'problems:create_comment' %}";
    </script>
    <script src="{% static 'problemBase/comments.js' %}">
{% endblock %}
