{% extends "problemBase/problem.html" %}
{% load crispy_forms_tags %}

{% block innerContent %}
    <div class="justify-content-center d-flex flex-column" style="padding-bottom: 200px;">
        <div class="d-flex">
            <h1>{{ name }}</h1>
        </div>
        <div class="flex-column justify-content-center" style="word-wrap: break-word;">
            <p>{{ problem_statement|safe }}</p>
        </div>
        <button class="btn btn-outline-secondary mb-4" data-bs-toggle="collapse" href="#solutionForm" role="button"
           aria-expanded="false" aria-controls="solutionForm" data-bs-target="#solutionForm" style="width: 200px;">
            Dodaj rozwiązanie
        </button>
        <div class="collapse" id="solutionForm">
            <form method="POST">
                {% csrf_token %}
                {{ solution_form.media }}
                {{ solution_form|crispy }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}