{% extends "problembase/problem.html" %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block innerContent %}
<div class="justify-content-center d-flex flex-column" style="padding-bottom: 200px;">
    <div class="d-flex flex-row w-100">
        <div class="d-flex flex-fill">
            <h3>{{ name }}</h3>
        </div>
        <div class="d-flex flex-row justify-content-end flex-fill">

            {% if added_by == request.user %}
                <div class="d-flex flex-column justify-content-center h-100 px-3 align-self-end">
                    <a class="link-secondary"
                       href="{% url 'problems:edit_problem'  pk=pk %}">Edytuj</a>
                </div>
            {% endif %}
            {% if edited %}
                <div class="d-flex flex-column justify-content-center h-100 px-3 align-self-end">
                    <a class="link-secondary problem-history-link"
                       href="{% url 'problems:history'  pk=pk %}">Historia zmian</a>
                </div>
            {% endif %}

            <div class="d-flex flex-column h-100 justify-content-center align-items-center">
                <div class="d-flex flex-row align-self-end">
                    <div class="d-flex mr-2">
                        <i class="bi bi-eye mx-2 p-0"></i>
                    </div>
                    <div class="d-flex">
                        {{ watching_count }}
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-center h-100 px-3 align-self-end">
                <a class="btn align-self-end {% if watched %} btn-secondary {% else %} btn-outline-secondary {% endif %}"
                   href="{% url 'problems:watch_problem' pk=pk %}">Śledź</a>
            </div>

        </div>
    </div>


    <div class="d-flex flex-row p-0 m-0 w-100">
        <div class="d-flex flex-column w-100">
        <div class="flex-column justify-content-center text-break fs-5 py-4 problem-statement">
            <p>{{ problem_statement|safe }}</p>
        </div>
        <div class="ml-4">
            {% if sent_solution %}
                <h5>Wysłałeś już rozwiązanie do tego zadania!</h5>
            {% else %}
                {% if waiting_for_surrender %}
                    {% include 'solutions/_surrenderTimer.html' with pk=pk surrendered_as_solved=surrendered_as_solved%}
                {% else %}
                <div class="d-flex flex-row justify-content-center w-100 mt-5 align-middle">
                    <button class="btn btn-outline-danger mb-4 mx-3" role="button" id='surrender-btn'>
                        Poddaję się
                    </button>
                    <button class="btn btn-outline-secondary mb-4 mx-3" data-bs-toggle="collapse" href="#solutionForm"
                            role="button"
                            aria-expanded="false" aria-controls="solutionForm" data-bs-target="#solutionForm">
                        Dodaj rozwiązanie
                    </button>
                    <button class="btn btn-outline-success mb-4 mx-3" role="button" id='surrender-as-solved-btn'>
                        Oznacz jako zrobione
                    </button>
                </div>
                <div class="mt-2">
                    {% include 'solutions/addingSolutionInfo.html' with surrendered=surrendered %}
                </div>
                <div class="collapse" id="solutionForm">
                    {% crispy solution_form %}
                </div>
                {% endif %}
            {% endif %}
        </div> </div>
    </div>
</div>
{% include 'problembase/_problemHistoryModal.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'problembase/problem_history.js' %}"></script>
    <script>
        var surrender_begin_url = "{% url 'solutions:begin_surrender' pk=pk as_solved=0 %}";
        var surrender_as_solved_begin_url = "{% url 'solutions:begin_surrender' pk=pk as_solved=1 %}";
        var surrender_timer_url = "{% url 'solutions:surrender_time' pk=pk %}";
    </script>
    <script src="{% static 'solutions/surrender.js' %}"></script>
    {% if waiting_for_surrender %}
    <script>
        show_timer();
    </script>
    {% endif %}
{% endblock %}
