<tr class="h5">
    <td>
        {{ problem.category }}
    </td>
    <td>
        <a class="link-underline link-underline-opacity-0" href="{% url 'problems:statement' problem.id  %}">{{ problem.name }}</a>
    </td>
    <td style="width: 160px;"></td>
    <td class="prevent-select" title="Rozwiązania">2</td>
    <td class="prevent-select" title="Rozwiązania"><i class="bi bi-check"></i></td>
    <td></td>
    <td class="prevent-select" title="Obserwujący">12</td>
    <td class="prevent-select" title="Obserwujący"><i class="bi bi-eye mx-0 p-0"></i></td>
</tr>