<tr class="h5 mb-0 align-middle problem-db-entry" data-problem-id="{{ problem.id }}">
    <td>
        {{ problem.category }}
    </td>
    <td>
        <a class="problem-link d-inline" href="{% url 'problems:statement' problem.id  %}">{{ problem.name }}</a>
        {% include 'problembase/_problemStatus.html' with problem=problem %}
    </td>
    <td style="width: 160px;"></td>
    <td class="prevent-select" title="Rozwiązania">{{ problem.solved }}</td>
    <td class="prevent-select" title="Rozwiązania"><i class="bi bi-check"></i></td>
    <td></td>
    <td class="prevent-select" title="Obserwujący">{{ problem.watchers_count }}</td>
    <td class="prevent-select" title="Obserwujący"><i class="bi bi-eye mx-0 p-0"></i></td>
</tr>