{% extends "base/nakedBase.html" %}

{% block content %}
    <div class="flex-column align-items-center" style="width: 40%;">
        <h1 class="text-center" style="font-size: 56px;">Witaj na <b>Solak.edu.pl</b>!</h1>
        <h3>Chcemy ułatwić przygotowania do egzaminów i kolokwiów.</h3>
        <p>Zadania z każdego przedmiotu są w innym miejscu, na różnych stronach, w książkach czy w głowach ludzi ;).
        Nawet w obrębie jednego przedmiotu z reguły brakuje porządnego źródła zadań, co dopiero z rozwiązaniami.
        Marzy nam się (tak! - póki co to tylko marzenie) miejsce, do którego przychodzimy by się uczyć i nic nas nie hamuje.
        Miejsce w którym są zadania, ich rozwiązania i ludzie którzy nad nimi myślą.</p>
        <h3>To jest strona od ludzi, dla ludzi</h3>
        <p>Wizja potrafi oślepić i zamknąć słuszną idee w kajdanach perfekcjonizmu,
        gdzie miną lata zanim ujrzy światło dzienne. Staramy się do tego nie dopuścić i z tego powodu oddajemy w
        Wasze ręce ten wczesny prototyp. Liczymy na obfitą krytykę odnośnie strony, jej feature'ów, jak i całej koncepcji projektu.</p>
        <h3>Łamigłówki</h3>
        <p>Uff to było patetyczne. Teraz coś przyziemnego. Jeśli chodzi o naukę mamy sezon ogórkowy.
            Nie ma w najbliższym czasie żadnego egzaminu ani kolokwium, a więc potrzeba na tego typu stronkę jest nikła.
            Dlatego wpadliśmy na pomysł z łamigłówkami. Zamiast standardowych zadań wrzuciliśmy kilka nietrywialnych łamigłówek, które mogą was zaciekawić.
            Koniecznie sprawdź <b>TUTAJ NAZWA ŁAMIGŁÓWKI</b>, mi zajęła ona dwa dni, ale po wymyśleniu rozwa uznaje ją za triv.
        <div class="px-4 d-flex justify-content-center">
            <div class="m-4">
                <a class="btn btn-outline-warning" href="{% url 'account:login' %}">Zaloguj się</a>
            </div>
            <div class="m-4">
                <a class="btn btn-outline-secondary" href="{% url 'problems:problem_base' %}">Zobacz zadania</a>
            </div>
        </div>
    </div>
    <style>
    .btn {
        font-size: 26px;
    }
    </style>
{% endblock %}
