{% extends "base/nakedBase.html" %}
{% load static %}

{% block content %}
    <div class="flex-column align-items-center" style="width: 40%;">
        <div class="text-center mb-4" > <img src="{% static 'base/logo.png' %}" height="54px"> </div>
        <h1 class="text-center" style="font-size: 56px;">Witaj na SOLAKu</h1>
        <h3>Chcemy ułatwić przygotowania do egzaminów i kolokwiów.</h3>
        <p>Zadania z każdego przedmiotu są w innym miejscu, na różnych stronach, w książkach czy w głowach ludzi ;).
        Nawet w obrębie jednego przedmiotu z reguły brakuje porządnego źródła zadań, co dopiero z rozwiązaniami.
        Marzy nam się miejsce, do którego przychodzimy by się uczyć i nic nas nie hamuje.
        Miejsce w którym są zadania, ich rozwiązania i ludzie którzy nad nimi myślą.</p>
        <h3>Zadania</h3>
        <p>Już teraz znajdziesz tu zbiór egzaminów z MD, z myślą o zbliżającej się poprawce.
            Kolejne zadania z MD pojawią się w najbliższych dniach, a wkrótce z kolejnych przedmiotów.
            Jeśli rozwiążesz zadanie zachęcamy do wrzucenia swojego rozwiązania (nawet jeśli są już inne).
            Jeśli masz problem z zadaniem i nikt nie dodał rozwiązania nieomieszkaj się takiego zadania zaobserwować -
            inni zobaczą że na takie rozwiązanie jest 'popyt', a Ty dostaniesz powiadomienie gdy ktoś je doda.
        </p>
        <div class="px-4 d-flex justify-content-center">
            <div class="m-4">
                <a class="btn btn-outline-warning" href="{% url 'account:login' %}">Zaloguj się</a>
            </div>
            <div class="m-4">
                <a class="btn btn-outline-secondary" href="{% url 'problems:problem_base' %}?q=Łamigłówki">Zobacz zadania</a>
            </div>
        </div>
    </div>
    <style>
    .btn {
        font-size: 26px;
    }
    </style>
{% endblock %}
