<p>
{% if surrendered == False %}
    Aby zobaczyć rozwiązania wybierz jedną z opcji.
{% else %}
    Nadal możesz wysłać swoje rozwiązanie :)&nbsp;
{% endif %}
    <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#solutionInfoModal">Więcej informacji</a>
</p>

<!-- Modal -->
<div class="modal fade" id="solutionInfoModal" tabindex="-1" aria-labelledby="solutionInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="solutionInfoModalLabel">Wysyłanie rozwiązań</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Jeśli wyślesz swoje rozwiązanie będziesz mógł od razu zobaczyć rozwiązania innych.</p>
          <p>Wybierając poddanie się lub oznaczenie jako rozwiązane dostęp do rozwiązań otrzymasz po 10 minutach.</p>
          <p>Zadania do których wyślesz rozwiązania lub oznaczysz jako rozwiązane będą oznaczane złotą literką R, te przy których się poddasz oznaczone są literą P.
          Dzięki temu będziesz mógł szybko zajrzeć do zadań z którymi miałeś problem, jak i cieszyć się z tych które rozwiązałeś.</p>
          <p>Wysyłanie rozwiązań umożliwia dostanie informacji zwrotnej od innych ludzi, coś dzięki czemu najszybciej się rozwijamy ;)</p>
          <p>Proszę nie wysyłaj rozwiązań w stylu "sdlkjglhjbf". Jeżeli nie rozwiązałeś zadania po prostu użyj funkcji "poddaję się".</p>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>