{% extends "problembase/problem.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% static 'static_jquery/js/jquery.js' %}

{% block innerContent %}
    <div class="justify-content-center d-flex flex-column" style="padding-bottom: 200px;">
        <div class="d-flex">
            <h1>{{ name }}</h1>
        </div>

        {% if not display_solutions %}
            {% include 'solutions/problemSurrender.html' %}
        {% else %}

        <div>
            {% for solution in solutions %}

                <hr>
                <div class="home-container d-flex flex-row w-100">
                    <div class="d-flex flex-column">
                        <div class="d-flex mt-1">
                            <a class="text-decoration-none" href="{% url 'account:profile_page' solution.user.id %}">@{{ solution.user.username }}</a>
                        </div>

                        <div class="d-flex text-secondary">
                            {{ solution.creation_date }}
                        </div>
                        {% if solution.user == user %}
                            <div class="d-flex">
                                <a class="link-secondary"
                                   href="{% url 'solutions:edit_solution'  pk=solution %}">Edytuj</a>
                            </div>
                        {% endif %}
                        {% if solution.edited %}
                            <div class="d-flex text-secondary">
                                <a class="link-secondary solution-history-link"
                                   href="{% url 'solutions:history' pk=solution %}">Historia zmian</a>
                            </div>
                        {% endif %}

                    </div>
                    <div class="px-4 d-flex"><!-- spacing between solution info and solution content --></div>
                    <div class="d-flex flex-column mt-0 w-100" style="word-wrap: break-word; min-width: 0;">
                        <p class="mb-4">{{ solution.content|safe }}</p>
                        <div class="d-flex flex-row mb-3 mt-4 justify-content-end">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100 px-2 h3">
                                {{ solution.upvote_counter }}
                            </div>
                            <div class="d-flex flex-row px-1 ml-2 me-3">
                                <a class="btn align-self-end {% if solution.upvoted %} btn-success {% else %} btn-outline-success {% endif %}"
                                   href="{% url 'solutions:vote_solution' pk=solution vote='upvote' %}">Fajne</a>
                            </div>
                        </div>
                        {% include 'problembase/commentSection.html' with comments=solution.comments solution_id=solution.id %}

                    </div>
                </div>
            {% endfor %}
            {% if not solutions %}
                <p>Nikt jeszcze nie rozwiązał tego zadania...</p>
            {% endif %}
        </div>
        <form id="commentForm" autocomplete="off" class="border-top border-2 pt-3" style="display:none;">
            {% crispy comment_form %}
        </form>
        {% endif %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="solutionHistoryModal" tabindex="-1" aria-labelledby="solutionHistoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="solutionHistoryModalLabel">Historia zmian</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <p class="placeholder-glow">
                            <span class="placeholder col-2"></span>
                        </p>
                        <p class="placeholder-glow">
                            <span class="placeholder col-5"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-2"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-5"></span>
                            <span class="placeholder col-2"></span>
                            <span class="placeholder col-3"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-5"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-2"></span>
                        </p>
                        <p class="text-end placeholder-glow">
                            <span class="placeholder col-4"></span>
                        </p>
                    <div class="history"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">zamknij</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        var url = "{% url 'solutions:comments:create' %}";
    </script>
    <script src="{% static 'problembase/comments.js' %}"></script>
    <script src="{% static 'solutions/solution_history.js' %}"></script>
{% endblock %}
