<li class="ms-4 fs-6 pt-0 list-group-item list-group-item-action border-0 entry" data-type='comment' style="cursor: move;">
    <p class="text-secondary" style="display: inline;">{{ comment.name }}</p>
    <span class="edit-name" style="display: none; cursor: pointer;"><i class="px-1 bi bi-pencil-square"></i></span>
    <input class='w-75' type="text" value="{{ comment.name }}" style="display: none;">
    <span class="delete-list-item" style="display: none; cursor: pointer;"><i class="px-1 bi bi-trash"></i></span>
</li>
