{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% if page == 'login' %}
    <div>
        {% crispy form %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>Nie masz jeszcze konta?</p>
        <a href="{% url 'account:register' %}">Zarejestruj się</a>
    </div>
    {% else %}
    <div>
        {% crispy form %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>Masz już konto?</p>
        <a href="{% url 'account:login' %}">Zaloguj się</a>
    </div>
    {% endif %}

{% endblock %}