{% extends "account/userProfile.html" %}

{% load static %}

{% block innerContent %}
    <div class="justify-content-center d-flex" style="padding-bottom: 200px;">

        <div class="container center-block flex-column mt-4" style="width: 30%;">
            <h2>Statystyki</h2>
            <p>Problems solved: {{ problems_solved_count }}</p>
            <p>Problems added: {{ problems_added_count }}</p>
            <p>Solutions added: {{ solutions_added_count }}</p>
            <p>Comments added: {{ comments_added_count }}</p>
        </div>

        <div class="container center-block flex-column mt-4" style="width: 60%;">

            <h2>Problems added:</h2>
            {% for problem in problems_added %}
                <p>Problem: {{ problem.name }}</p>
                <p>Problem added: {{ problem.creation_date }}</p>
            {% endfor %}
        </div>

        <div class="container center-block flex-column mt-4" style="width: 60%;">
            <h2>Solutions added:</h2>
            {% for solution in solutions_added %}
                <p>Problem: {{ solution.problem.name }}</p>
                <p>Solution added: {{ solution.creation_date }}, upvote: {{ solution.upvote_counter }}</p>
            {% endfor %}
        </div>

        <div class="container center-block flex-column mt-4" style="width: 60%;">

            <h2>Comments added:</h2>
            {% for comment in comments_added %}
                <p>Comment: {{ comment.content }}</p>
                <p>Comment added: {{ comment.creation_date }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}