{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div class="container center-block flex-column mt-4" style="width: 100%;">
        <nav class="px-4 align-items-center navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="navbar-nav">
                <h1 class="m-auto navbar-brand ">@{{ user.username }}</h1>
                <div style="width: 15px;"></div>
                <a class="ml-4 nav-item nav-link {% if request.resolver_match.view_name == 'account:profile_page' %}active{% endif %}"
                   href="{% url 'account:profile_page' pk=user.id %}">Informacje</a>
                <a class="ml-4 nav-item nav-link {% if request.resolver_match.view_name == 'account:user_problems' %}active{% endif %}"
                   href="{% url 'account:user_problems' pk=user.id %}">Zadania</a>
                <a class="ml-4 nav-item nav-link {% if request.resolver_match.view_name == 'account:user_solutions' %}active{% endif %}"
                   href="{% url 'account:user_solutions' pk=user.id %}">Rozwiązania</a>
                <a class="ml-4 nav-item nav-link {% if request.resolver_match.view_name == 'account:user_comments' %}active{% endif %}"
                   href="{% url 'account:user_comments' pk=user.id %}">Komentarze</a>
                {% if user == request.user %}
                <a class="ml-4 nav-item nav-link {% if request.resolver_match.view_name == 'account:user_notifications' %}active{% endif %}"
                   href="{% url 'account:user_notifications' pk=user.id %}">Powiadomienia</a>
                {% endif %}
            </div>
        </nav>

        <div class="flex-column justify-content-center mx-2  py-1">
            {% block innerContent %}
            {% endblock %}
        </div>

    </div>
{% endblock %}