{% extends "account/userProfile.html" %}

{% load static %}

{% load custom_tags %}

{% block innerContent %}
    <div class="justify-content-center d-flex" style="padding-bottom: 200px;">

        <div class="col col-md-3 px-0 ">
            <div class="card px-0">
                <div class="card-header text-center">
                    <h3>Statystyki</h3>
                </div>
                <div class="d-flex flex-column table-responsive card-body">
                    <table class="table table-borderless table-hover">
                        <tbody>

                        <tr class="h5">
                            <td>
                                <h5>Pozycja w rankingu</h5>
                            </td>
                            <td style="width: 60px;"></td>
                            <td class="prevent-select"
                                title="Rozwiązania">{{ user_position|get_item:user }}</td>
                        </tr>

                        <tr class="h5">
                            <td>
                                <h5>Rozwiązane zadania</h5>
                            </td>
                            <td style="width: 60px;"></td>
                            <td class="prevent-select"
                                title="Rozwiązania">{{ problems_solved_count }}</td>
                        </tr>

                        <tr class="h5">
                            <td>
                                <h5>Dodane zadania</h5>
                            </td>
                            <td style="width: 60px;"></td>
                            <td class="prevent-select"
                                title="Rozwiązania">{{ problems_added_count }}</td>
                        </tr>

                        <tr class="h5">
                            <td>
                                <h5>Dodane rozwiązania</h5>
                            </td>
                            <td style="width: 60px;"></td>
                            <td class="prevent-select"
                                title="Rozwiązania">{{ solutions_added_count }}</td>
                        </tr>

                        <tr class="h5">
                            <td>
                                <h5>Dodane komentarze</h5>
                            </td>
                            <td style="width: 60px;"></td>
                            <td class="prevent-select"
                                title="Rozwiązania">{{ comments_added_count }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>


        <div class="container center-block flex-column mt-4" style="width: 100%;">

            <h2>Ostatnia aktywność:</h2>
            {% for activity in recent_activities %}
                <hr>

                <div class="d-flex flex-column mt-0 w-100">
                    <a class="link"
                       href="{% url 'problems:statement'  pk=activity.problem_id %}">{{ activity.problem_name }}</a>
                </div>

                <div class="d-flex text-secondary">
                    {{ activity.creation_date }}
                </div>

                <div class="home-container d-flex flex-row w-100">
                    <div class="d-flex flex-column mt-0 w-100" style="word-wrap: break-word;">
                        {% if request.user.is_authenticated and activity.solved %}
                            <p class="mb-4">{{ activity.display|safe }}</p>
                        {% else %}
                            <p class="mb-4">Jeszcze nie rozwiązałeś/aś tego zadania!</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if not recent_activities %}
                Tutaj będzie twoja ostatnia aktywność.
            {% endif %}
        </div>

    </div>
{% endblock %}