<li class="nav-item dropdown mr-3 pr-3">
    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        <i class="bi bi-bell"> </i>
        {% if notifications_data.count > 0 %}
            <span class="text-danger fw-bold">
                {{ notifications_data.count }}
            </span>
        {% endif %}
    </a>
    <ul class="dropdown-menu">
        {% for notification in notifications_data.notifications %}
            <li>
                <a class="dropdown-item pt-2 {% if notification.is_read %} bg-light {% endif %}"
                   style="white-space: normal; word-break: break-word; width: 420px;" href="{{ notification.url }}">
                    <h6>
                        {{ notification.name }}
                    </h6>
                    <p class='text-break mb-1'>{{ notification.content }}</p>
                </a>
            </li>
        {% endfor %}
        <li class="d-flex flex-row justify-content-end p-1">
            <a class="link-secondary d-flex text-decoration-none" href="{% url 'account:user_notifications' pk=request.user.id %}"> zobacz wszystkie &nbsp;&nbsp;&nbsp; </a>
        </li>
    </ul>
</li>