{% for notification in notifications %}
    <div class="d-flex flex-column">
        <a class="dropdown-item p-2 hover-effect {% if notification.is_read %} bg-light {% endif %}"
           style="white-space: normal; word-break: break-word;" href="{{ notification.url }}">
            <div class="d-flex">
                <h6> {{ notification.name }} </h6>
            </div>
            <div class="d-flex">
                <p class='text-break mb-1'>{{ notification.content }}</p>
            </div>
        </a>
    </div>
{% endfor %}
